[Unit]
Description=dm6tosr16 starter
After=default.target

[Service]
ExecStart=/home/rob/proj/dmswitcher/run_dm6tosr16.sh

[Install]
WantedBy=default.target

