[Unit]
Description=dm6tosr16 starter
After=default.target

[Service]
ExecStart=/home/rob/proj/dm6tosr16/run_dm6tosr16.sh

[Install]
WantedBy=default.target

